// Traffic lights
$traffic-yellow         : #FFC509;
$traffic-yellow-border  : #E2A302;
$traffic-red            : #FF6054;
$traffic-red-border     : #E5463B;

$border                 : #F2F2F2;      
$base                   : #4A90E2;